body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

.App {
  width: 100vw;
  height: 100vh;

  position: relative;

  display: flex;

  background-color: #fff;
  color: #303242;
  font-family: 'Nunito', sans-serif;
}

.App .Sidebar {
  width: 70px;
}

.App .Content {
  max-width: calc(100% - 70px);
  position: absolute;
  left: 70px;
}
