.Item {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 20px 0px;
}

.Item img {
    width: 250px;
    min-height: 180px;
    max-height: 180px;
}

.Item strong {
    width: 250px;
    font-weight: 800;
    font-size: 14px;

    padding-top: 5px;
}

.Item p {
    width: 250px;
    opacity: 0.8;
    font-size: 10px;

    padding-top: 5px;
}